{
  "extends": [
    "@react-native-community",
    "plugin:react/recommended",
    "plugin:react-native/all",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "babel-module": {}
    }
  },
  "plugins": ["@react-native-community", "react", "react-native", "prettier"],
  "rules": {
    "react/sort-prop-types": 2,
    "react/no-unused-state": 2,
    "react/no-unused-prop-types": 2,
    "prettier/prettier": "error"
  },
  "globals": {}
}
